* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

.contact-form-container {
  height: max-content;
  border-radius: 1rem;
}

.mobile-view-header {
  height: max-content;
}

.table-container {
  height: calc(100vh - 190px);
  border: 1px solid rgb(235, 235, 235);
  border-radius: 1rem;
}

table {
  height: 10rem;
}